[submodule "heatTransfer_tests/lib/googletest"]
	path = heatTransfer_tests/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/fltk"]
	path = lib/fltk
	url = https://github.com/fltk/fltk.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:Rbbingham/heatTransferSim.git
